.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 75vh;
}

.signup-form div {
    display: flex;
    flex-direction: column;
    width: 400px;
    opacity: .8;
}

.signup-form input, .signup-form button {
    padding: 10px;
    outline: none;
    border: none;
    transition: background-color .25s ease;
    font-size: 1.2rem;
}

.signup-form p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.signup-form input:hover {
    background-color: #66fcf1;
}

.signup-form div > * {
    margin-bottom: 15px;
}

.signup-form button {
    background: transparent;
}

.signup-form svg {
    margin: 0 auto;
    color: white;
    transition: color .25s ease;
}

.signup-form svg:hover {
    color: #66fcf1;
}